<!-- Contacts -->
    <section id="contacts" class="grid">
        <div class="box">
            <h2 class="content-title">Contact me:</h2>
            <p>Email: mihaiobusiness@gmail.com</p>
            <p>Mobile: +37360255007</p>
        </div>
        <div class="box">
            <h2 class="content-title">Social accounts:</h2>
            <div id="socialIcons">
                <p><i class="fab fa-linkedin"></i></p>
                <p><i class="fab fa-facebook"></i></p>
                <p><i class="fab fa-500px"></i></p>
            </div>
        </div>
    </section>
<!-- END contacts -->

<footer id="copyright">
    <div>© 2021 Mihail Olaru. All rights reserved.</div>
</footer>

               

   
            