{{!https://medium.com/javascript-in-plain-english/how-to-implement-an-image-upload-system-with-express-and-react-4a6511d8e097}}
{{!https://www.youtube.com/watch?v=9Qzmri1WaaE}}
{{!make a loop to extract from DB}}

<div class="photoGallery">
    <div><img src="images/photoGallery/Square/used/square.jpg" /></div>
    <div class="vertical"><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div class="horizontal"><img src="images/photoGallery/Horizontal/used/horizontal.jpg" /></div>
    <div><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div class="big"><img src="images/photoGallery/Horizontal/used/horizontal.jpg" /></div>
    <div><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div class="vertical"><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div><img src="images/photoGallery/Square/used/square.jpg" /></div>
    <div class="horizontal"><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div class="big"><img src="images/photoGallery/Square/used/square.jpg" /></div>
    <div><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div class="horizontal"><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div class="big"><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
    <div><img src="images/photoGallery/Square/used/square.jpg" /></div>
    <div class="vertical"><img src="images/photoGallery/Vertical/used/vertical.jpg" /></div>
</div>