{{!https://medium.com/javascript-in-plain-english/how-to-implement-an-image-upload-system-with-express-and-react-4a6511d8e097}}
{{!https://www.youtube.com/watch?v=9Qzmri1WaaE}}
{{!make a loop to extract from DB}}

        <div class="photoGallery">
            <div><img src="images/photoGallery/Square/used/Yellow-flower.jpg"/></div>
            <div class="vertical"><img src="images/photoGallery/Vertical/used/_MG_1860.jpg"/></div>
            <div class="horizontal"><img src="images/photoGallery/Vertical/used/lotus_flowers.jpg"/></div>
            <div><img src="images/photoGallery/Vertical/used/Escalator_Strairs.jpg"/></div>
            <div><img src="images/photoGallery/Vertical/used/BnW_oldcity_window.jpg"/></div>
            <div class="big"><img src="images/photoGallery/Horizontal/used/impossible_love.jpg"/></div>
            <div><img src="images/photoGallery/Horizontal/used/_MG_0433.jpg"/></div>
            <div class="vertical"><img src="images/photoGallery/Vertical/used/Man_model01.jpg"/></div>
            <div><img src="images/photoGallery/Square/used/Summer_flower02.jpg"/></div>
            <div class="horizontal"><img src="images/photoGallery/Horizontal/used/photoSHootOx27.10.19-008.jpg"/></div>
            <div><img src="images/photoGallery/Horizontal/used/BnW_seashore_scene_Busan.jpg"/></div>
            <div class="big"><img src="images/photoGallery/Square/used/_MG_0034.jpg"/></div>
            <div><img src="images/photoGallery/Horizontal/used/christamnight_city_scene.jpg"/></div>
            <div class="horizontal"><img src="images/photoGallery/Horizontal/used/Hope.jpg"/></div>
            <div><img src="images/photoGallery/Horizontal/used/white_sails.jpg"/></div>
            <div class="big"><img src="images/photoGallery/Horizontal/used/Untitled_Panorama-3.jpg"/></div>
            <div><img src="images/photoGallery/Square/used/Train_station_BnW.jpg"/></div>
            <div class="vertical"><img src="images/photoGallery/Vertical/used/sky_scaraper.jpg"/></div>
        </div>
