<div class="lopende-tekst vraag rij-even" id="vraag-0-1">
    <div class="lopende-tekst">
        <h2>Synonyms</h2>
        <div class="lopende-tekst">
            <p></p>
            <p>Which answer <strong>expresses the meaning</strong> of the specified word best?</p>
            <p></p>
        </div>
        <h3><span>1.</span> reassuring</h3></div>
    <div class="subvraag ">
        <p>
            <label for="vraag-0-0-1">
                <input type="radio" name="q[1]" value="1" id="vraag-0-0-1">compassionate</label>
            <br>
            <label for="vraag-0-0-2">
                <input type="radio" name="q[1]" value="2" id="vraag-0-0-2">comforting</label>
            <br>
            <label for="vraag-0-0-3">
                <input type="radio" name="q[1]" value="3" id="vraag-0-0-3">explanatory</label>
            <br>
            <label for="vraag-0-0-4">
                <input type="radio" name="q[1]" value="4" id="vraag-0-0-4">meddlesome</label>
            <br>
        </p>
        <div class="pick-answer alert alert-error alert-block" style="display:none;"><strong>Warning: </strong>Please pick an answer before continuing.</div>
        <div class="row-fluid controls">
            <div class="span3" style="text-align: center">
                <div class="question-mapping"><i>Question 1 of 10</i></div>
            </div>
            <div class="span6" style="text-align: center">
                <button class="btn btn-large btn-link" disabled="">‹ Previous</button>
                <button class="btn btn-large btn-default btn-iq-test-next" data-item-current="1" data-item-next="2">Next ›</button>
            </div>
            <div class="span3" style="text-align: center">
                <div class="test-timer">10:00</div>
            </div>
        </div>
    </div>
</div>