<!-- intro section
   ================================================== -->
<section id="intro">

    <div class="intro-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <h5>Hello, World.</h5>
                <h1>I'm Mihail Olaru</h1>

                <p class="intro-position">
                    <a href="/webDev" class="HP_main_inscriptions">WEB DEVELOPER</a>
                    <a href="/photographer" class="HP_main_inscriptions">PHOTOGRAPHER</a>
                    {{!-- <span>WEB DEVELOPER</span>
                    <span>PHOTOGRAPHER</span> --}}
                </p>


            </div>

        </div>
    </div>
    <!-- /intro-content -->

</section>
<!-- /intro -->