<div class="grid-container">
    <div class="empty-left">
       <h1>Empty right</h1> 
    </div>

    <div class="image">
        <h1>Image</h1>
        <!--
        <img id="PBGI" src="images/photoPageBG.jpg" alt="Profile Picture">
        -->
    </div>

    <div id="about" class="about about-content">
        
        <h3>Profile</h3>
        <div class="intro-info">
            <img id="BG_image" src="images/Mypicture.jpg" alt="My picture">
        </div>

        <ul class="info-list">
            <li>
                <strong>Fullname:</strong>
                <span>Mihail OLARU</span>
            </li>
            <li>
                <strong>Birth Date:</strong>
                <span>July 4, 1983</span>
            </li>
            <li>
                <strong>Job:</strong>
                <span>Photographer</span>
            </li>
            <li>
                <strong>Social profile:</strong>
                <span>https://500px.com/p/mihai_olaru?view=photos/span>
            </li>
            <li>
                <strong>Email:</strong>
                <span>mihaiobusiness@gmail.com</span>
            </li>

        </ul>
       
    </div>

    <div class="content ">
        <h1>Content</h1>
        <!--
        {{> _photoGallery}}
        -->
    </div>

    <div class="footer">
        <h1>Footer</h1>
        <!--
        {{> _footer}}
        -->
    </div>

    <div class="empty-right">
        <h1>Left empty</h1>
    </div>

</div>