   
<div class="container">

    <div class="header">
        <!--<img src="images/photoPageBG.jpg" alt="Profile Picture">-->
     
        <div class="about-content">
                <h3>Profile</h3>
                <div class="intro-info">

                    <img id="BG_image" src="images/Mypicture.jpg" alt="My picture">

                    <p class="lead">Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.</p>
                </div>

                <ul class="info-list">
                    <li>
                        <strong>Fullname:</strong>
                        <span>Mihail OLARU</span>
                    </li>
                    <li>
                        <strong>Birth Date:</strong>
                        <span>July 4, 1983</span>
                    </li>
                    <li>
                        <strong>Job:</strong>
                        <span>Web Developer</span>
                    </li>
                    <li>
                        <strong>Social profile:</strong>
                        <span>www.kardswebsite.com</span>
                    </li>
                    <li>
                        <strong>Email:</strong>
                        <span>mihaiobusiness@gmail.com</span>
                    </li>

                </ul>
                <!-- /info-list -->
        </div>

           
    </div>
        
    <div class="content grey-section">
        {{photoGallery}}
    </div>

    <div class="footer">
 
        <div class="contact-info">

            <div class="email">

                <div class="icon">
                    <i class="icon-mail"></i>
                </div>

                <h5>Email Me At</h5>

                <p>someone@kardswebsite.com<br> info@kardswebsite.com
                </p>

            </div>

            <div class="telephone-number">

                <div class="icon">
                    <i class="icon-phone"></i>
                </div>

                <h5>Call Me At</h5>

                <p>Mobile: (+373) 60255007</p>

            </div>

        </div>
        <!-- /contact-info -->

    </div>

</div>    
       
         