.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "i i i i i i i i i"
      "a a c c c c c c c"
      "a a c c c c c c c"
      "s s c c c c c c c"
      "s s c c c c c c c"
      "s s c c c c c c c"
      "f f f f f f f f f";
  }
  
  .image { 
    grid-area: i; 
  }
  
  .about { 
    grid-area: a; 
  }
  
  .content { 
    grid-area: c; 
  }
  
  .footer { 
    grid-area: f; 
  }
  
  .someinfo { 
    grid-area: s; 
  }
  