..grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "image image image image image image image image image"
      "about about content content content content content content content"
      "about about content content content content content content content"
      "someinfo someinfo content content content content content content content"
      "someinfo someinfo content content content content content content content"
      "someinfo someinfo content content content content content content content"
      "footer footer footer footer footer footer footer footer footer";
  }
  
  .image { grid-area: image; }
  
  .about { grid-area: about; }
  
  .content { grid-area: content; }
  
  .footer { grid-area: footer; }
  
  .someinfo { grid-area: someinfo; }
  