img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

/* Header Showcase */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333
    url("https://drive.google.com/thumbnail?id=1JmNaZwDbnIBaOmEMqjxVKM-OmVam-nkI");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* Section A */

#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/* section-PhotoGallery */

#section-PhotoGallery {
  padding: 2em 1em 1em;
}

#section-PhotoGallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-PhotoGallery li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

/* photoSell */

#shutterStockLogo{
  width: 100px;
}

#section-photoSell {
  background: #fff;
  color: #333;
  padding: 2em;
}

/* Section D / Boxes */

#contacts .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #333;
}

/* Footer */
#author{
  float: right;
  padding-right: 6em;
}

#copyright {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
  justify-content: center;
}

#copyright a {
  color: #2690d4;
  text-decoration: none;
}

/* Media Queries */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-PhotoGallery ul {
    grid-column: 2/4;
  }

  .box,
  #copyright div {
    grid-column: span 2;
  }

  #section-PhotoGallery ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}


/*
.grid-container {
    display: grid;
    grid-template-columns: auto 30% 45% auto; 
    grid-template-rows: 20% auto auto 20%; 
    gap: 5px 5px;
    min-height: 0;  
    min-width: 0; 
    grid-template-areas:
      "i i i i"
      "eml a c emr"
      "eml a c emr"
      "eml f f emr";
  }
  
  .empty-left {
    grid-area: eml;
    background-color: antiquewhite;
  }

  .empty-right{
    grid-area: emr;
    background-color: darkcyan;
  }

  .image { 
    grid-area: i;
    background-color: blue; 
  }
  
  .about { 
    grid-area: a; 
    background-color: rgb(32, 64, 134);
  }
  
  .content { 
    grid-area: c; 
    background-color: rgb(28, 221, 60);
  }
  
  .footer { 
    grid-area: f; 
    background-color: rgb(194, 105, 46);
  }
  
  /*#PBGI{
    max-width: 100%;

  }*/

 