<h1>Edit story</h1>
<div class="row">
    <form action="/tests/{{story.id}}?_method=PUT" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" value ="{{story.title}}">
                <lable for="title">Title</lable>
            </div>
        </div>

         <div class="row">
            <div class="input-field">
                <select name="status">
                    {{#select story.status}}
                    <options value="public" selected>Public</options>
                    <options value="private">Private</options>
                    <options value="unpublished">Unpublished</options>
                    {{/select}}
                </select>
                <lable for="status">Status</lable>
            </div>
        </div>

        <div class="row">
            <p>
               <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" {{#if allowedComments}} checked="checked" {{/if}}>
               <lable for="filled-in-box">Allow Comments</lable>
            </p>
        </div>

         <div class="row">
            <div class="input-field">
               <h5>Tell us your story</h5>
                <textarea name="body">{{story.body}}</textarea>
            </div>
        </div>

<input type="submit" value="Save" class="btn">
    </form>
</div>
